<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
<div style="font-family: 'Arial', sans-serif; color: #333;">
    <h2 th:text="${subject}">Subject Placeholder</h2>
    <p style="margin-top: 20px;" th:text="${content}">Content Placeholder</p>
    <a href="#" th:href="${url}" style="background-color: #4CAF50; color: white;
                        padding: 14px 20px; text-align: center;
                        text-decoration: none; display: inline-block;
                        margin-top: 20px;">Click para verificar</a>
</div>
</body>
</html>
